<div id="page_wrapper">
	<div id="profile_images">
		<%= image_tag "profile.jpg" %> 
	</div>

	<div id="content">
		<h1> Hello, I'm Rasheed </h1>
		<p>Web developing enthusiast in the language of JavaScript & Ruby on Rails. I enjoy working with others , and learning new things about the forever changing web.
		</p>

</div>

<script>
	// Just a lil’ script to show off that inline JS gets highlighted
	window.console && console.log('foo');
</script>

<li>
		<strong>Intuitive</strong>
			Language classes are inherited so you can only define the language once for multiple code snippets.
</li>